//Going skeleton

@import "skeleton/vars";
@import "skeleton/base";
@import "skeleton/skeleton";

//header global
header.global {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1rem;
    #inh-tagline {
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-top: 1px solid #000;
        margin-top: 25px;
        font-size: .75em;
        p {
            text-align: center;
            background: #fff;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: -13px;
            margin-right: auto;
            margin-left: auto;
            width: 400px;
        }
        em {
            font-style: normal;
            font-weight: bold;
        }
    }
    .inh-logo-main {
        @extend .u-cf;
        margin-right: auto;
        margin-left: auto;
        img.inh-logo {
            max-width: 26rem;
            margin-bottom: 1rem;
            margin-top: .5rem;
        }
    }
    .navbar + .docs-section {
        border-top-width: 0;
    }
    .navbar, .navbar-spacer {
        text-align: center;
        display: block;
        height: 2.5rem;
        background: #fff;
        z-index: 99;
        margin-right: auto;
        margin-left: auto;
        .navbar-list {
            @extend .u-cf;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 0;
            margin-right: auto;
            margin-left: auto;
            .navbar-item {
                position: relative;
                float: left;
                margin-bottom: 0;
            }
            .navbar-link {
                @include whitneyFont(600, normal, condense);
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: .2rem;
                margin: 0 3rem;
                text-decoration: none;
                line-height: 2.5rem;
                color: #222;
            }
        }
        @media only screen and (max-width: $midSizeWidth) {
            // width: 6rem !important;
            #inh-tagline {
                font-size: 14px !important;
            }
            .navbar-list {
                .navbar-link {
                    font-size: 12px;
                    margin: 0 1rem;
                }
            }
            #inh-tagline {
                p {
                    width: 100% !important;
                }
            }
        }
        @media only screen and (max-width: $mobileLandscapeWidth) {
            #inh-tagline {
                p {
                    max-width: 100%;
                }
            }
        }
    }
    .navbar-spacer {
        display: none;
    }
    .navbar > .container {
        width: 100%;
    }
    .navbar-link.active {
        color: #33C3F0;
    }
    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
    }
    .has-docked-nav .navbar-spacer {
        display: block;
    }
    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar > .container {
        width: 80%;
    }
}

.full-width {
    @extend .container;
    width: 100%;
}

#issue-banner {
    $issue-banner-height: 350px;
    @extend .full-width;
    @extend .u-cf;
    position: relative;
    background: #ccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    min-height: $issue-banner-height;
    margin-bottom: 2.5rem;
    &.dark {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        h2 {
            color: #fff;
            text-transform: none;
        }
        .issue-banner-title {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
    &.light {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        h2 {
            color: #000;
            text-transform: none;
        }
        .issue-banner-title {
            background-color: #000;
        }
    }
    .issue-banner-title {
        @extend .u-cf;
        margin-top: $issue-banner-height / 3;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: auto;
        height: auto;
        background: #fff;
        .issue-number-date {
            clear: both;
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
        #sillywrp {
            padding: 1.5rem 6rem;
        }
    }
    h2 {
        font-size: 4rem;
        line-height: 1em;
        display: block;
    }
    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: $mobilePortraitWidth) {}
}

.img-responsive {
    display: block;
    margin-left: auto;
}

.lead-cover-text {
    @extend .article-card;
    font-size: 150%;
    line-height: 1.5rem;
    border-top: 3px #000 solid;
    padding-top: .5em;
}

.cover-article {
    @extend .columns;
    @extend .ten;
    h3 {
        font-size: 2rem !important;
    }
}

.article-card {
    @extend .columns;
    @extend .five;
    // border:1px #ccc solid;
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 20px;
    min-height: 370px;
    overflow: hidden;
    h3 {
        font-size: 120%;
        // border-top:2px $inhBlue solid;
        line-height: 1em;
        font-weight: bold;
        margin-top: 10px;
        a {
            text-decoration: none;
        }
        span {
            font-size: 80%;
            font-weight: normal;
            font-style: italic;
        }
    }
    .article-img {
        width: 100%;
    }
    .article-categories {
        position: relative;
        span {
            line-height: 1em;
            background-color: $inhBlue;
            color: #fff;
            padding: 0 2px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

//article page
@mixin small-issue-banner {
    #issue-banner {
        min-height: 80px;
        .issue-banner-title {
            float: left;
            margin-top: 20px;
            &:hover {
                opacity: .7;
            }
            padding: 0;
            #sillywrp {
                margin-top: 0;
                padding: 10px 13px 0px;
            }
            h2 {
                font-size: 1.5em;
                font-style: italic;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.isArticle {
    @include small-issue-banner;
}

.article-parent {
    header {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        text-align: center;
        margin-bottom: 2em;
        h1 {
            font-size: 3em;
            
            @include mercuryFont(700, italic);
            line-height: 1em;
            @media only screen and (max-width: $tabletWidth) {
                font-size: 200%;
                margin-bottom: .5em;
            }
        }
        h2 {
            font-style: italic;
            line-height: 1em;
            font-size: 2em;
            @media only screen and (max-width: $tabletWidth) {
                font-size: 150%;
                margin-bottom: .5em;
            }
        }
        h5 {
            @include whitneyFont(bold, normal, condense);
            font-size: 1.2em;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
    }
    //create a mixin to adjust layout

    @mixin readingColumn($setWidth){

        @extend .u-cf;
            margin-right: auto !important;
            margin-left: auto !important;
            max-width: $setWidth;
    }
    .article-section {
        @extend .columns;
        @extend .ten;
        p {
            @include readingColumn(40rem);

            @include mercuryFont(400, normal);
            
            img {
                max-width: 100%;
            }
            line-height: 1.7em;
            @media only screen and (max-width: $midSizeWidth) {
                @include readingColumn(30rem);
                padding-right: 10px;
                padding-left: 10px;
            }
            @media only screen and (max-width: $mobileLandscapeWidth) {
                @include readingColumn(90%);
            }
            .intro-begin {
                @include whitneyFont(normal, normal, screensmart);
                color: #006B98;
            }
        }
        h3 {
            font-family: $fontFamily;
            text-align: center;
            font-size: 1.2em;
            text-transform: uppercase;
        }
        .breakout-img {
            margin-top: 2rem;
            margin-bottom: 2rem;
            img {
                max-width: 100%;
            }
        }
        blockquote {
            border-left: none;
            text-align: center;
            @include whitneyFont(bold, italic, condense);
            @include readingColumn(80%);
            p {
                width: 100%;
                max-width: 100%;
            }
        }
        @media only screen and (max-width: $midSizeWidth) {}
        @media only screen and (max-width: $tabletWidth) {}
    }

    .article-info {
    @extend .container;
    @extend .full-width;

    margin-top: 3%;
    border-top: 1px #ccc solid;

    h3 {
        font-size: 120%;
    }
    .badge-img {
        float: right;
        margin: 8px;
        display: inline;
    }
    .info-card{
	@include readingColumn(40rem);
	@include whitneyFont(normal, normal, condense);
	margin-top: 1.2rem;
	img{
	    float:left;
	    width:82px;
	}
	p, .desc{
	    float:right;
	    display: inline-block;
	    width:80%;
	}
	p>strong:first-child{
	    text-transform: uppercase;
	}
    }
}

}


.badge-img {
    @include border-radius(50%);
}

//Issues page
.issues-list {
    @extend .container;
    @extend .columns;
    @extend .twelve;
    .magazine-image {
        width: 200px;
    }
    .issue-list-each {
        text-align: center;
        max-width: 250px;
        float: left;
        border: 1px #eee solid;
        margin-right: .5em;
        margin-left: .5em;
        margin-bottom: 3em;
    }
}

.issue-single {
    @extend .container;
    @extend .columns;
    @extend .full-width;
    @media only screen and (max-width: $tabletWidth) {
        @extend .twelve;
    }
    @include small-issue-banner;
    .post-box {
        @extend .columns;
        @extend .eight;
        @extend .offset-by-four;
        @extend .u-cf;
        text-align: center;
        margin-bottom: 3rem;
        h2 {
            font-size: 2em;
            font-style: italic;
            line-height: 1em;
        }
    }
}

#footer {
    border-top: 1px #ccc solid;
    padding-top: 2em;
    .footerlinks {
        float: left;
        li {
            float: left;
            color: #000;
            padding-right: 2em;
            a {
                color: #000;
                font-size: 1.3em;
                text-decoration: none;
            }
        }
    }
}